/* task 3 */

#gallery {
  display: flex;
  justify-content: space-evenly;
}

.gallery__item {
  list-style-type: none;
  box-shadow: 7px -5px 10px 0px #4b0082, 11px -9px 10px 0px #0000ff, 16px -14px 10px 0px #00ff00,
    20px -17px 10px 0px #ffff00, 24px -19px 10px 0px #ff7f00, 27px -23px 10px 0px #ff0000,
    0px -9px 23px 5px rgba(0, 0, 0, 0);
}

/* task 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.box {
  height: 30px;
  width: 30px;
  background-color: black;
}
